{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title">RMS POPE Terminal</h1>
      <hr>
      <div class="subtitle">
        <h2>Welcome!</h2>
        <br>
        <p>Please select an option below in the RMS Time Card System</p>
        <hr>
        {% if current_user.active == 0 %}
          <a class="btn btn-success" href="/Clock-IN">Clock-IN</a>
          <a class="btn btn-danger" href="/Clock-Out">Clock-OUT</a>
        {% elif current_user.active == 1 and current_user.is_authenticated %}
          <a class="btn btn-dark" href="/Meal_Time">Meal Time</a>
          <a class="btn btn-danger" href="/Clock-Out">Clock-Out</a>
        {% endif %}
          <br>
          <hr>
        {% if current_user.roles == 'Admin' %}
          <a class="btn btn-dark" href="/Directory">Search Records</a>
          <a class="btn btn-dark" href="/Report">Report</a>
        <br>
        <hr>
        {% endif %}
        {% if current_user.is_authenticated %}
          <strong>Other Applications</strong>
          <hr>
          <a class="btn btn-dark" href="https://my214.geotab.com/rms_pope">GeoTab</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    top: 40px
  }
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  .btn-danger {
  }
{% endblock %}
