{% extends 'base.html' %}
{% block title %}Clock-IN{%endblock%}
{% block content %}
<h1 class="title">
    RMS POPE TimeCard System
</h1>
  <form action="{{ url_for("views.Clock_in")}}" method="POST">
    {{ form.hidden_tag() }}
    <h3 align="center">Clock-IN</h3>
    <div class="form-group">
      <label for="EmpName">Enter Your Employee ID</label>
      {{ form.Employee(
      class="form-control",
      placeholder="Employee ID") }}
      <br/>
    </div>
    <div class="form-group">
      <label for="EmpDes">Enter Work Type</label>
      {{ form.Description(
      class="form-control",
      placeholder="Description") }}
      <br/>
    </div>
    <div class="form-group">
      <label for="EmpVeh">Enter Vehicle</label>
      {{ form.Vehicle(
      class="form-control",
      placeholder="Enter Vehicle") }}
      <br/>
    </div>
    <div class="form-group">
      <label for="EmpRuns">Enter Runs</label>
      {{ form.Runs(
      class="form-control",
      placeholder="Amount of Runs") }}
      <br/>
    </div>
    <div class="form-group">
        <label for="EmpArea">Enter Area</label>
        {{ form.Location(
        class="form-control",
        placeholder="Location") }}
        <br/>
      </div>
    <br/>
    {{ form.submit(class="btn
     btn-primary", href="/Card") }}
  </form>
{% endblock %}