{% extends 'base.html' %}
{% block title %}Maintanence Schedule{% endblock %}
{% block content %}
    <head>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FSt_Johns&showNav=1&showPrint=0&showTabs=0&title=Maintenance%20Schedule&showCalendars=0&showTz=1&src=Y180ZDA0NzY1M2M4OWJjZDFiMDhmMWIzZDRkYzA0NzAxODkwOTA4NjgwZDAzNTI5ZWJkNWYzNzE4NmY2ZWZiMjgyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D81B60" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>    
    </head>
<body>
</body>
{% endblock %}