{% extends 'base.html' %}

{% block title %}
Time Report
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">Time Report</h1>
      <div class="card">
        <div class="card-content">
          <table class="table is-bordered is-fullwidth">
            <thead>
              <tr>
                {% for column in df_filled.columns %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for index, row in df_filled.iterrows() %}
              <tr>
                {% for column in df_filled.columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}