{% extends 'base.html' %}
{% block title %}
Reset Password
{% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
      <img src="">
      <br>
      <h1 class="title">
        Reset Password
      </h1>
      <hr>
      <p class="subtitle">
        <strong>Please Enter your Email</strong>
      </p>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="form.searched">Enter Your E-mail</label>
          {{ form.searched(
            class="form-control",
            placeholder="E-mail") }}
        </div>
        <br/>
        {{ form.Submit(
          value="Send",
          class="btn btn-primary") }}
      </form>
    </div>
  </section>
{% endblock %}