{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <img src="">
      <br>
      <h1 class="title">
        Search Users
      </h1>
      <hr>
      <p class="subtitle">
        <strong>Enter a name to view previous Records</strong>
      </p>
      <form action="{{ url_for("views.Find")}}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="searched">Enter Your Employee ID</label>
          {{ form.searched(
            class="form-control",
            placeholder="Employee ID") }}
        </div>
        <br/>
        {{ form.submit(class="btn
         btn-primary", href="/Card2") }}
        </form>
    </div>
  </section>
{% endblock %}
