#flash-messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    display: none;
}

.flash-message {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.card table {
    width: 100%;
    border-collapse: collapse;
}

.card table th,
.card table td {
    padding: 8px;
    border: 1px solid #ccc;
}
